@import url(https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cabin", sans-serif;
}

.homepage {
  background-color: #EDF2F4;
}
.homepage header {
  display: flex;
  justify-content: space-between;
  background-color: #8D99AE;
}
.homepage header nav ul {
  display: flex;
  list-style: none;
}
.homepage header a {
  text-decoration: none;
  color: #2B2D42;
}
