@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

h2 {
  font-size: 2.5em;
  font-weight: 600;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #2B2D42;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #EF233C;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #D90429;
}

.homepage {
  background-color: #EDF2F4;
}
.homepage header {
  position: absolute;
  width: 100%;
  z-index: 2;
}
.homepage header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.homepage header .container .right img {
  height: 50px;
}
.homepage header .container nav ul {
  display: flex;
  list-style: none;
  margin-bottom: 0;
}
.homepage header .container nav ul li {
  margin-left: 10px;
}
.homepage header .container a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1em;
  font-weight: 700;
  color: white;
}
.homepage main .video {
  position: relative;
}
.homepage main .video .layover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.homepage main .video h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 4em;
  font-weight: 700;
  color: white;
  z-index: 1;
}
.homepage main .video video {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.homepage main .video svg {
  position: absolute;
  left: 0;
  bottom: 0;
}
.homepage main section {
  border-bottom: 0;
}
.homepage main .news h2 {
  color: #2B2D42;
}
.homepage main .news .cards {
  display: flex;
}
.homepage main .news .cards .card {
  width: calc(100% / 3 - 10px);
  margin: 0 5px;
}
.homepage main .streamers {
  margin-top: 50px;
}
.homepage main .streamers h2 {
  color: #2B2D42;
}
.homepage main .streamers .list {
  display: flex;
  flex-wrap: wrap;
}
.homepage main .streamers .list .streammer {
  width: calc(100% / 3 - 10px);
  height: 200px;
  margin: 5px 5px;
}
.homepage main .streamers .list .streammer iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
}
.homepage footer {
  background-color: #2B2D42;
  color: #8D99AE;
}
.homepage footer .footer_top {
  display: flex;
  justify-content: center;
}
.homepage footer .footer_top .left,
.homepage footer .footer_top .right {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.homepage footer .footer_top .left a,
.homepage footer .footer_top .right a {
  color: white;
  text-decoration: none;
}
.homepage footer .footer_bottom {
  text-align: center;
}

.home main {
  display: flex;
}
.home main .aside {
  width: 30%;
  height: 100vh;
  padding: 15px;
  background-color: #8D99AE;
}
.home main .aside h2 {
  margin-bottom: 20px;
  color: #2B2D42;
}
.home main .aside .menu {
  list-style: none;
}
.home main .aside .menu .item {
  margin-bottom: 10px;
}
.home main .aside .menu .item a {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #EDF2F4;
  text-decoration: none;
  color: #2B2D42;
}
.home main .content {
  width: 70%;
  height: 100vh;
  padding: 15px;
  background-color: #EDF2F4;
}
