.build_index {
    .cards {
        display: flex;
        justify-content: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
        .card {
            width: 95px;
            border: none;
            overflow: hidden;
            margin: 10px;
            a {
                text-align: center;
                text-decoration: none;
                color: $spaceCadet;
                .container_img {
                    border-radius: 0 0 12px 0;
                    overflow: hidden;
                    img {
                        width: 100%;
                        transition: all 0.2s;
                    }
                }
                &:hover {
                    .container_img {
                        img {
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }

        .legendary {
            background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(139,91,61,1) 0%, rgba(179,113,48,1) 39%);
        }
        .epic {
            background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(96,88,145,1) 0%, rgba(124,107,160,1) 39%);
        }
    }
    
}