.homepage {
    main {
        section {
            border-bottom: 0;
        }
        .news {
            h2 {
                color: $spaceCadet;
            }
            .cards {
                display: flex;
                .card{
                    width: calc(100% / 3 - 10px);
                    margin: 0 5px;
                    text-align: center;
                    border: none;
                    background-color: $manatee;
                    a {
                        text-decoration: none;
                        color: $aliceBlue;
                        h3 {
                            margin: 10px;
                        }
                        p {
                            margin: 10px;
                        }
                        .img_container {
                            width: 100%;
                            height: 150px;
                            overflow: hidden;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                object-position: center;
                                transition: all 0.2s;
                            }
                        }
                        &:hover {
                            img {
                                transform: scale(1.2);
                            }
                        }
                    }
                }
            }
        }
        .streamers{
            margin-top: 50px;
            h2 {
                color: $spaceCadet;
            }
            .list{
                display: flex;
                flex-wrap: wrap;
                .streammer {
                    width: calc(100% / 3 - 10px);
                    height: 200px;
                    margin: 5px 5px;
                    iframe {
                        width: 100%;
                        height: 100%;
                        border: none;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}