.dashboard {
    main {
        display: flex;
        .aside {
            width: 20%;
            height: 100vh;
            padding: 15px;
            background-color: $manatee;
            h2 {
                margin-bottom: 20px;
                text-align: center;
                font-size: 22px;
                color: $spaceCadet;
            }
            .menu {
                list-style: none;
                .item {
                    margin-bottom: 10px;
                    a {
                        display: block;
                        padding: 5px 10px;
                        border-radius: 5px;
                        text-decoration: none;
                        text-align: center;
                        background-color: $aliceBlue;
                        color: $spaceCadet;
                    }
                }
            }
        }
        .content {
            width: 80%;
            height: 100vh;
            padding: 15px;
            background-color: $aliceBlue;
        }
    }
}